body{
    font-family: 'Arial' sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
background-color: #333;
color: white;
text-align: center;
padding: lrem;

}

.review{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.rating{
    font-weight: bold;
}